---
import type { About } from "@/models/types";
import { Picture } from "astro-imagetools/components";
import { imageRespToUrl } from "@/utils";
import { titleClasses } from "@/utils";

interface Props {
  about: About;
}

const { about } = Astro.props;
---

<section class="px-5">
  <h2 class:list={[titleClasses, "mb-3 lg:mb-6"]}>Our Partners</h2>

  <div
    class:list={[
      "grid grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-5 lg:gap-10",
      "mt-5 mx-auto w-fit",
    ]}
  >
    {
      about.partners.map((partner) => (
        <a href={partner?.link} class="w-fit">
          <Picture
            src={imageRespToUrl(partner?.image)}
            width={320}
            height={80}
            format="webp"
            fit="contain"
            background="rgba(0,0,0,0)"
            alt={partner?.title ?? ""}
            attributes={{
              picture: {
                class:
                  "shadow-md hover:scale-110 transition rounded border-gray-100 border w-full !max-w-[16rem]",
              },
              img: {
                class: "w-full",
              },
            }}
          />
        </a>
      ))
    }
  </div>
</section>
