---
import BannerLayout from "@/layouts/BannerLayout.astro";
import strapi from "@/api/strapi";
import AboutTextSection from "@/components/about/TextSection.astro";
import AboutPartnerCards from "@/components/about/PartnerCards.astro";
import type { AboutEntityResponse } from "@/models/types";

const resp = (await strapi.find("about", {
  populate: ["image", "partners.image"],
})) as AboutEntityResponse;
const about = resp.data?.attributes!;

// console.log(about);
---

<BannerLayout name="about">
  <AboutTextSection about={about} />
  <div class="mt-10"></div>
  {about.partners && <AboutPartnerCards about={about} />}
  <div class="mt-10"></div>
</BannerLayout>
