---
import BannerLayout from "../layouts/BannerLayout.astro";
import { Image } from "@astrojs/image/components";

const contact = {
  info: [
    {
      title: "Email",
      content: "info@gmail.com",
    },
    {
      title: "Telephone",
      content: "+90 555 555 55 55",
    },
    {
      title: "Fax",
      content: "+90 555 555 55 55",
    },
    {
      title: "Address",
      content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    },
  ],
  imageSrc: "/carousel/p3.jpg",
};
---

<BannerLayout title="About us" bannerTitle="About us">
  <section
    class:list={[
      "w-full max-w-5xl mx-auto px-5",
      "flex flex-col md:flex-row gap-5 md:gap-10",
      "mt-10",
    ]}
  >
    <Image
      class="w-full md:w-0 flex-grow rounded"
      src={contact.imageSrc}
      format="jpeg"
      alt="image of contact us"
      width={800}
      height={450}
      format="jpeg"
    />

    <div class="md:w-0 flex-grow">
      <table>
        {
          contact.info.map((info) => (
            <tr>
              <td class="text-lg py-2 font-semibold">{info.title}</td>
              <td class="text-lg py-2 pl-10 text-justify" style="hyphens:auto">
                {info.content}
              </td>
            </tr>
          ))
        }
      </table>
    </div>
  </section>

  <section class="mt-10 px-5">
    <iframe
      class="max-w-7xl w-full mx-auto aspect-[16/9]"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1847.5991638314445!2d113.57228640819253!3d22.156521430497598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34016ff7baa5f789%3A0xeedea94ad3ce828d!2sMacau%20International%20Airport!5e0!3m2!1sen!2s!4v1674978117086!5m2!1sen!2s"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <div class="mt-10"></div>
</BannerLayout>
