---
import BannerLayout from "@/layouts/BannerLayout.astro";
import { Image } from "@astrojs/image/components";
import strapi from "@/api/strapi";
import type { ContactEntityResponse } from "@/models/types";
import { imageRespToUrl } from "@/utils";
import { Picture } from "astro-imagetools/components";

const resp = (await strapi.find("contact", {
  populate: ["info", "image"],
})) as ContactEntityResponse;
const contact = resp?.data?.attributes!;

// console.log(contact);
---

<BannerLayout name="contact">
  <section
    class:list={[
      "w-full max-w-5xl mx-auto px-5",
      "flex flex-col md:flex-row gap-5 md:gap-10",
      "mt-10",
    ]}
  >
    <Picture
      attributes={{
        picture: {
          class: "w-full md:w-0 flex-grow rounded",
        },
      }}
      src={imageRespToUrl(contact.image)}
      format="webp"
      alt="image of contact us"
      width={640}
      height={360}
      format="webp"
    />
    <div class="md:w-0 flex-grow">
      <table>
        {
          contact.info!.map((info) => (
            <tr>
              <td class="text-lg py-2 font-semibold align-top text-right">
                {info?.name}
              </td>
              <td
                class="text-lg py-2 pl-4 lg:pl-8 text-justify"
                style="hyphens:auto"
              >
                {info?.value}
              </td>
            </tr>
          ))
        }
      </table>
    </div>
  </section>

  <section class="mt-10 px-5">
    <iframe
      class="max-w-7xl w-full mx-auto aspect-[16/9] border-0"
      src={contact.googleMapAddr}
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <div class="mt-10"></div>
</BannerLayout>
