---
import dayjs from "dayjs";
import { Picture } from "astro-imagetools/components";

export interface CardBase {
  title: string;
  link: string;
  description: string;
  publishDate: Date;
  imageUrl: string | undefined;
}

export interface Props {
  card: CardBase;
}

const { card } = Astro.props;
const { title, link, description, publishDate, imageUrl } = card;
---

<a
  href={link}
  class:list={[
    "transition-all duration-75 ease-in-out",
    "h-full block relative top-0 hover:-top-2",
    "shadow-lg hover:shadow-xl bg-white rounded-md overflow-hidden",
  ]}
  data-test="article-card"
>
  <Picture
    src={imageUrl ?? "/no-image.jpg"}
    alt={title}
    width={480}
    aspect={16 / 9}
    format="webp"
  />

  <div class="p-4 lg:p-6">
    <h2 class="font-bold text-xl leading-tight truncate">
      {title}
    </h2>
    <p class="text-gray-600 line-clamp-2 text-justify mt-1">{description}</p>
    <p class="text-xs text-gray-600 mt-2 flex items-center">
      {dayjs(publishDate).format("YYYY-MM-DD")}
    </p>
  </div>
</a>
