---
import { Picture } from "astro-imagetools/components";
const navLists = [
  { title: "Home", href: "/" },
  { title: "News", href: "/news/" },
  { title: "Events", href: "/events/" },
  { title: "About", href: "/about/" },
  { title: "Contact us", href: "/contact/" },
];
---

<header class="p-4 max-w-7xl mx-auto w-full flex items-center gap-5">
  <a href="/" class="h-10 w-[7.5rem]">
    <Picture
      src="/logo.png"
      format="webp"
      alt="Logo"
      width={180}
      height={60}
      loading="eager"
      placeholder="none"
    />
  </a>

  <ul class="hidden lg:flex">
    {
      navLists.map((nav) => (
        <li>
          <a
            href={nav.href}
            rel="prefetch"
            class="hover:underline decoration-gray-600 decoration-2 underline-offset-8 px-6 py-4"
          >
            <span class="text-lg hover:text-gray-800 font-medium">
              {nav.title}
            </span>
          </a>
        </li>
      ))
    }
  </ul>

  <div class="flex-grow"></div>

  <button id="menuButton" class="lg:hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>

  <div
    id="menu"
    class:list={[
      "absolute w-screen bg-white !top-14 inset-0 z-10",
      "opacity-0 invisible transition duration-300",
      "lg:hidden flex flex-col",
    ]}
    style="height: calc(100vh - 3.5rem);"
  >
    <hr class="mt-4 mx-4" />
    <ul class="flex flex-col p-6 gap-6">
      {
        navLists.map((nav) => (
          <li>
            <a href={nav.href} rel="prefetch">
              <span class="text-lg font-semibold">{nav.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex-grow"></div>
    <span class="text-sm self-center mb-6">
      Copyright © 2023, All Right Reserved.
    </span>
  </div>
</header>

<script is:inline>
  const menuButton = document.getElementById("menuButton");
  const menu = document.getElementById("menu");
  menuButton.addEventListener("click", handleClick);
  var menuOpen = false;
  function handleClick() {
    menuOpen = !menuOpen;
    menu.style.opacity = menuOpen ? 1 : 0;
    if (menuOpen) {
      menu.style.visibility = "visible";
    } else {
      setTimeout(() => {
        menu.style.visibility = "hidden";
      }, 300);
    }
  }
</script>
