---
import {
  Image,
  ImageComponentLocalImageProps,
  ImageComponentRemoteImageProps,
} from "@astrojs/image/components";

import type { Props as ImageProps } from "@astrojs/image/components/Image.astro";

type Props = ImageProps & {
  classes?: string | string[];
  imageClasses?: string | string[];
};

const {
  width,
  height,
  classes = [],
  imageClasses = [],
  slot,
  ...rest
} = Astro.props as Props;
---

<div class:list={[classes, "relative"]}>
  <Image
    width={Math.floor(width! / 10)}
    height={Math.floor(height! / 10)}
    loading="eager"
    decoding="sync"
    class:list={["absolute w-full", imageClasses]}
    {...rest}
  />
  <Image
    width={width!}
    height={height!}
    class:list={["absolute w-full", imageClasses]}
    {...rest}
  />
</div>
