---
import strapi from "@/api/strapi";
import { Picture } from "astro-imagetools/components";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { PageEntityResponseCollection } from "@/models/types";
import { imageRespToUrl } from "@/utils";
export interface Props {
  name: string;
}
const { name } = Astro.props;

const resp = (await strapi.find("pages", {
  filters: {
    name: {
      $eq: name,
    },
  },
  populate: ["banner"],
})) as PageEntityResponseCollection;
const page = resp.data![0]?.attributes;

// console.log(page);
---

<BaseLayout title={page?.title ?? ""} description={page?.description}>
  <div class="h-80 bg-gray-200 flex items-center justify-center relative">
    {
      page?.banner?.data && (
        <Picture
          src={imageRespToUrl(page.banner)}
          breakpoints={[1000, 2000]}
          height={400}
          format="webp"
          alt={page.title}
          attributes={{
            picture: {
              class: "!h-full",
            },
            img: {
              class: "object-cover !h-full",
            },
          }}
        />
      )
    }
    <div class="absolute inset-0 bg-black opacity-20 z-10"></div>
    <h1 class="absolute text-white text-5xl font-black z-10">
      {page?.title}
    </h1>
  </div>
  <slot />
</BaseLayout>
