---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import clsx from "clsx";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex flex-col overflow-y-auto h-screen">
    <Header />

    <main class="">
      <slot />
    </main>

    <Footer />
  </div>
</Layout>
