---
import BannerLayout from "@/layouts/BannerLayout.astro";
import strapi from "@/api/strapi";
import type {
  EventEntityResponse,
  EventEntityResponseCollection,
} from "@/models/types";
import { imageRespToUrl } from "@/utils";
import showdown from "showdown";

const { eventId } = Astro.params;
const resp = (await strapi.findOne("events", eventId!, {
  populate: ["article", "article.cover"],
})) as EventEntityResponse;
const event = resp.data?.attributes!;

export async function getStaticPaths() {
  const resp = (await strapi.find("events")) as EventEntityResponseCollection;
  const events = resp.data;
  return events.map((news) => {
    return { params: { eventId: news.id } };
  });
}

const converter = new showdown.Converter();
const eventHtml = converter.makeHtml(event.article?.content || "");

// console.log(event);
---

<BannerLayout title="Events" bannerTitle="Events">
  <div
    class:list={[
      "w-full max-w-7xl mx-auto p-4 lg:p-10",
      "flex flex-col gap-4 items-center",
    ]}
  >
    <h2 class="font-semibold text-3xl">{event.article?.title}</h2>
    <span class="text-gray-600">{event.article?.publishDate}</span>
    <hr class="w-full" />
    <div
      class="text-justify text-lg flex flex-col gap-4"
      set:html={eventHtml}
    />
  </div>
</BannerLayout>
