---
import Card, { CardBase } from "@/components/Card.astro";
import BannerLayout from "@/layouts/BannerLayout.astro";
import strapi from "@/api/strapi";
import type { EventEntityResponseCollection } from "@/models/types";
import { imageRespToUrl } from "@/utils";

const resp = (await strapi.find("events", {
  populate: ["article", "article.cover"],
  sort: ["article.publishDate:DESC", "order:ASC"],
})) as EventEntityResponseCollection;
const events = resp.data;

const cards = events.map((event) => {
  const data = event.attributes!;
  return {
    title: data.article.title,
    description: data.article.description,
    imageUrl: imageRespToUrl(data.article.cover),
    link: `/events/${event.id}/`,
    publishDate: data.article.publishDate,
  } as CardBase;
});

// console.log(cards);
---

<BannerLayout title="Events" bannerTitle="Events">
  <div
    class:list={[
      "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3",
      "w-full max-w-7xl mx-auto",
      "gap-5 lg:gap-10 p-5 lg:p-10",
    ]}
  >
    {cards.map((card) => <Card card={card} />)}
  </div>
</BannerLayout>
